{%extends 'base.html'%}
{% load static%}

{% load bootstrap4%}

{% block content %}

         
{{block.super}}
<br>
<br>
<br>
<br>
    <div class=" container-fluid banner">

        <div class="cover">
            <div class="image">
                <h1 class="text-center"> It's amazing how photography can capture just a split second of something exquisite</h1>
                <h3 class="text-center">"Kiera Cass"</h3>

            </div>

        </div>
        <div class="row">

            {% for items in post%}
            <div class="col-md-4">
                <div class="img" data-toggle="modal" data-target="#exampleModalLong{{items.id}}">
                    <img src="{{items.image.url}}" alt="" class="responsive" >
                </div>
   
                
            </div>
            
            <div class="modal fade" id="exampleModalLong{{items.id}}"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">{{items.name}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <img src="{{items.image.url}}" alt="" class="responsive">
                        <p>{{items.description}}</p>
                        <p>Category: {{items.category}}</p>
                        <p>Location: {{items.location}}</p>
                        <p>{{items.created_at|date}}</p>
                    </div>
                    <div class="modal-footer">
                        <input class="form-control" type="text" value="{{items.image.url}}" id="{{items.id}}.url">
                        <button class="btn-btn-success">Copy link</button>
                    </div>
                  </div>
                </div>
              </div>
        

                {% endfor %}
        </div>

    <a href="{% url 'add_image' %}" class="btn btn-outline-dark bg-dark text-white rounded-pill">Add Image</a>
    </div>

   </div>
   
{%endblock%}